* {
    margin: unset;
    padding: unset;
    box-sizing: border-box;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

body {
    background-color: dimgray;
    min-width: 100vw;
    min-height: 100vh;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 300px;
    height: 450px;
    background-color: whitesmoke;
    border-radius: 8px;
    box-shadow: black 1px 1px 4px;
}

.avatar {
    width: 100%;
}